<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #departmentForm="ngForm" (ngSubmit)="addDepartment
                    (departmentForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="departmentService.selectedDepartment._id">
                        <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="item" 
                                    #item="ngModel" [ngModel]="departmentService.selectedDepartment.item"
                                    id="name" placeholder="">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field col s12">
                                        <input type="text" name="city" 
                                        #item="ngModel" [ngModel]="departmentService.selectedDepartment.city"
                                        id="city" placeholder="">
                                        <label for="city">City</label>
                                    </div>
                                <div class="input-field col s12">
                                    <input type="number" name="guests" min=0
                                    #guests="ngModel" [ngModel]="departmentService.selectedDepartment.guests"
                                    placeholder="" id="guests">
                                    <label for="guests">Guests</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="number" name="beds" min=0
                                    #guest="ngModel" [ngModel]="departmentService.selectedDepartment.beds"
                                    placeholder="Enter Beds" id="beds">
                                    <label for="beds">Beds</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="number" name="baths" min=0
                                    #baths="ngModel" [ngModel]="departmentService.selectedDepartment.baths"
                                    placeholder="Enter Baths" >
                                    <label for="baths">Baths</label>
                                </div>
                               <div class="input-field col s12">
                                        <input type="number" name="price" min=0 step=0.01 
                                        #baths="ngModel" [ngModel]="departmentService.selectedDepartment.price"
                                        placeholder="Enter Price" >
                                        <label for="price">Price</label>
                                </div>
                                <div class="input-field col s12">    
                                    <input name="type" id="type" list="types"
                                    #baths="ngModel" [ngModel]="departmentService.selectedDepartment.type">
                                        <datalist id="types">
                                        <option value="House">
                                        <option value="Department">
                                        </datalist>
                                </div>              
                                
                                <div style="text-align: center" class="col s12">
                                    <input type="file" placeholder="Imagen" name="imagen" style="margin:0 auto; width: 300px;margin-bottom: 45px;"
                                    id="images">
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12">
                                        <button class="btn right" (click)="resetForm(departmentForm)">Clean</button>
                                        <button class="btn right" style="margin-right: 2px">Save</button>
                                        
                                    </div>
                                </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
           <table>
               <thead>
                <th>Name</th>
                <th>City</th>
                <th>Guests</th>
                <th>Beds</th>
                <th>Baths</th>
                <th>Price</th>
                <th>Type</th>
                <th>Amenities</th>
                <th>Occupied</th>
               </thead>
               <tbody>
                <tr *ngFor="let department of data[0]">
                    <td>{{ department.item}}</td>
                    <td>{{ department.city }}</td>
                    <td>{{ department.guests }}</td>
                    <td>{{ department.beds }}</td>
                    <td>{{ department.baths }}</td>
                    <td>{{ department.price }}</td>
                    <td>{{ department.type }}</td>
                    <td>{{ department.amenities }}</td>
                    <td>{{ department.occupied }}</td>
                    <td>
                        <a (click)="editDepartment(department)">
                            <i class="material-icons">edit</i>
                        </a>
                        <a (click)="deleteDepartment(department._id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
               </tbody>
           </table> 
        </div>
    </div>
</div>    